<div ng-controller="MUMenuRightController as MR">
	<div class="MU__navIcons MU__navIcons-right">
		<button
			class="MU__navIcons__item"
			ng-click="MR.toggle( $index )"
			ng-repeat="button in MR.items"
			ng-class="{ 'MU__navIcons-right__item--active': MR.openItem === $index }">
			{{ $index }}
		</button>
	</div>

	<div class="MU-me">
		<p class="MU__mainNavItem">ONE</p>
		<p class="MU__mainNavItem">ONE</p>
		<p class="MU__mainNavItem">ONE</p>
		<p class="MU__mainNavItem">ONE</p>
	</div>
</div>