<div hero-area ></div>

<p class="widthDisplay"></p>

<div
	ng-controller="GameGridController as GG"
	class="gameGrid">

		<div
			class="gameGrid__game"
			ng-repeat="game in GG.games track by game.id">
			<div
				class="gameGrid__game__inner"
				ng-style="{ 'background-color': game.bg }"></div>
		</div>


		<hr style="clear: both;">

		<span>Toggle open:</span>
		<br>
		<button
			ng-repeat="(title, menu) in MU.menus.menus track by title"
			ng-click="MU.menus.toggleState( title )" >
			{{ title }}
		</button>

		<hr>


		<span>Toggle visiblity:</span>
		<br>
		<button
			ng-repeat="(title, menu) in MU.menus.menus track by title"
			ng-click="MU.menus.toggleVisibility( title )" >
			<span ng-if="MU.menus.isVisible( title )">Hide {{ title }}</span>
			<span ng-if="!MU.menus.isVisible( title )">Show {{ title }}</span>
		</button>

		<hr>


		<span>Prioritise:</span>
		<br>
		<button
			ng-repeat="(title, menu) in MU.menus.menus track by title"
			ng-click="MU.menus.reorder( title )" >
			Lift {{ title }}
		</button>

		<hr>


		<span>Link:</span>
		<button
			ng-show="MU.menus.menus['left'] && MU.menus.menus['right']"
			ng-click="MU.linkMenus( 'left right' )" >
			left and right
		</button>
		<button
			ng-show="MU.menus.menus['top'] && MU.menus.menus['bottom']"
			ng-click="MU.linkMenus( 'top bottom' )" >
			top and bottom
		</button>

		<br>


		<span>Unlink:</span>
		<button
			ng-show="MU.menus.menus['left'] && MU.menus.menus['right']"
			ng-click="MU.unlinkMenus( 'left right' )" >
			left and right
		</button>
		<button
			ng-show="MU.menus.menus['top'] && MU.menus.menus['bottom']"
			ng-click="MU.unlinkMenus( 'top bottom' )" >
			top and bottom
		</button>
		<button
			ng-click="MU.menus.unlink()" >
			all
		</button>
</div>