<div
	class="MU__menu-left MU__menu-left--{{ !MU_left.menus.isVisible( 'left' ) && 'hidden' || MU_left.menus.state( 'left' ) }}"
	ng-style="MU_left.leftStyle()">
	<div class="MU__menu-left__inner">
		<div class="MU__navIcons MU__navIcons-left">
			<button
				class="MU__navIcons__item"
				ng-click="MU_left.toggle( $index )"
				ng-repeat="button in MU_left.items"
				ng-class="{ 'MU__navIcons-left__item--active': MU_left.openItem === $index }">
				{{ $index }}
			</button>
		</div>

		<div class="MU-you">
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
		</div>
	</div>
</div>