<div
	class="MU {{ MU.content.contentClass }} {{ MU.content.containerClass }} {{ MU.getClassName() }}"
	id="MU"
	ng-style="MU.systemStyle()">

	<div
		class="MU__menu-top MU__menu-top--{{ !MU.menus.isVisible( 'top' ) && 'hidden' || MU.menus.state( 'top' ) }}"
		ng-style="MU.topStyle()">
		<div
			class="MU__menu-top__inner"
			ng-include=" 'templates/menus/top.html' "></div>
	</div>

	<div left-menu ></div>
	<div right-menu ></div>

	<div
		class="MU__menu-bottom MU__menu-bottom--{{ !MU.menus.isVisible( 'bottom' ) && 'hidden' || MU.menus.state( 'bottom' ) }}"
		ng-style="MU.bottomStyle()">
		<div
			class="MU__menu-bottom__inner"
			ng-include=" 'templates/menus/bottom.html' "></div>
	</div>

	<div class="MU__center">
		<div class="MU__center__scroll">
			<div class="MU__center__content" ng-include=" 'templates/content/center.html' "></div>
		</div>
	</div>
</div>