<div
	class="MU__menu-right MU__menu-right--{{ !MU_right.menus.isVisible( 'right' ) && 'hidden' || MU_right.menus.state( 'right' ) }}"
	ng-style="MU_right.rightStyle()">
	<div class="MU__menu-right__inner">
		<div class="MU__navIcons MU__navIcons-right">
			<button
				class="MU__navIcons__item"
				ng-click="MU_right.toggle( $index )"
				ng-repeat="button in MU_right.items"
				ng-class="{ 'MU__navIcons-right__item--active': MU_right.openItem === $index }">
				{{ $index }}
			</button>
		</div>


		<div class="MU-me">
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
			<p class="MU__mainNavItem">ONE</p>
		</div>
	</div>
</div>