.MU {
	box-sizing: border-box;
	position: absolute;

	height: 100%;
	width: 100%;
	overflow: hidden;

	transition: all .2s;

	&__center {
		position: relative;
		height: 100%;

		background-color: #000;
		color: white;

		transition: all .2s;

		&__scroll {
			overflow: auto;

			height: 100%;
		}

		&__content {
			height: 200%;
			min-height: 1500px;
			min-width: 220px;

			text-align: center;

			background-image: linear-gradient( to top right, rgba(255,0,128,0.5), rgba(255,0,128,0) );

			button {
				background: white;
				color: black;

				padding: 10px;
				margin: 10px;
				outline: none;

				border-radius: 5px;

			}
		}
	}

	&__menu {
		&-top,
		&-bottom,
		&-left,
		&-right {
			box-sizing: border-box;
			position: absolute;

			transition: all .2s;

			&__inner {
				position: relative;

				width: 100%;
				height: 100%;
			}
		}

		&-top,
		&-bottom {
			width: 100%;
		}

		&-left,
		&-right {
			height: 100%;
		}

		&-top,
		&-left {
			left: 0%;
			top: 0%;
		}

		&-bottom,
		&-right {
			right: 0%;
			bottom: 0%;
		}
	}
}

.media__min-width__100 {
	.MU__center {
		background-color: #111;
	}
	.MU__center__content:after {
		display: block;

		content: '>100px';
	}
}

.media__min-width__200 {
	.MU__center {
		background-color: #222;
	}
	.MU__center__content:after {
		content: '>200px';
	}
}

.media__min-width__300 {
	.MU__center {
		background-color: #333;
	}
	.MU__center__content:after {
		content: '>300px';
	}
}

.media__min-width__400 {
	.MU__center {
		background-color: #444;
	}
	.MU__center__content:after {
		content: '>400px';
	}
}

.media__min-width__500 {
	.MU__center {
		background-color: #555;
	}
	.MU__center__content:after {
		content: '>500px';
	}
}

.media__min-width__600 {
	.MU__center {
		background-color: #666;
	}
	.MU__center__content:after {
		content: '>600px';
	}
}

.media__min-width__700 {
	.MU__center {
		background-color: #777;
	}
	.MU__center__content:after {
		content: '>700px';
	}
}

.media__min-width__800 {
	.MU__center {
		background-color: #888;
	}
	.MU__center__content:after {
		content: '>800px';
	}
}

.media__min-width__900 {
	.MU__center {
		background-color: #999;
		color: black;
	}
	.MU__center__content:after {
		content: '>900px';
	}
}

.media__min-width__1000 {
	.MU__center {
		background-color: #AAA;

		&__content {
			button {
				background: black;
				color: white;
			}

			&:after {
				content: '>1000px';
			}
		}
	}
}

.media__min-width__1100 {
	.MU__center {
		background-color: #BBB;
	}
	.MU__center__content:after {
		content: '>1100px';
	}
}

.media__min-width__1200 {
	.MU__center {
		background-color: #CCC;
	}
	.MU__center__content:after {
		content: '>1200px';
	}
}

.media__min-width__1300 {
	.MU__center {
		background-color: #DDD;
	}
	.MU__center__content:after {
		content: '>1300px';
	}
}

.media__min-width__1400 {
	.MU__center {
		background-color: #EEE;
	}
	.MU__center__content:after {
		content: '>1400px';
	}
}

.media__min-width__1500 {
	.MU__center {
		background-color: #FFF;
	}
	.MU__center__content:after {
		content: '>1500px';
	}
}